h1 movie review :)
a href="/review" Reviews
br/
a href="/review/new" New review
br/
a href="/movie/new" Add wants to watch
br/
a href="/movie" Wants to watch
br/
a href="/logout" Log out
br/
a href="/login" Login
br/
a href="/user/new" Register

==yield
